header
    position fixed
    top 0
    width 100%
    height 90px
    z-index 105
    display flex
    align-items center
    padding 0 5%
    +below($tablet)
        display none
    .logo
        width 193px
        height 24px
        background $img('marca-splend-lettering.svg') no-repeat center
        text-indent -9999px
        opacity 0
        transition opacity .3s
    +above($tablet)
        &.show-logo
            .logo
                opacity 1
            &:not(.invert) + .nav-wrapper #nav-toggle:not(.close)
                .lines
                    background #000
                    &:before
                    &:after
                        background #000
        &.invert
            .logo
                background-image $img('marca-splend-lettering-branco.svg')
.nav-wrapper
    position fixed
    top 0
    height 90px
    right 5%
    z-index 110
    display flex
    flex-direction column
    justify-content center
    align-items center
    +below($tablet)
        position absolute
    #nav-toggle
        display block
        background-color transparent
        border 0
        position relative
        height 24px
        width 28px
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 4px
            background #fff
            position relative
            transition .3s ease
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background #fff
                transition .3s ease
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    .instagram
        display block
        width 18px
        height 18px
        background $img('icone-instagram.svg') no-repeat center
        text-indent -9999px
        margin-top 10px

#main-nav
    display none
    position fixed
    top 0
    left 0
    width 100%
    height 100vh
    z-index 105
    background rgba(#000, .9)
    +below($tablet)
        position absolute
    .wrapper
        width 100%
        height 100%
        display flex
        flex-direction column
        align-items center
        justify-content center
        > a
            position relative
            dosis 20 bold
            color #fff
            &:before
            &:after
                content ''
                position absolute
                width 50px
                height 1px
                top 50%
                margin-top -1px
                background rgba(#fff, .5)
                opacity 0
                transition opacity .3s
            &:before
                right 100%
                transform translateX(-15px)
            &:after
                left 100%
                transform translateX(15px)
            + a
                margin-top 1em
            &:hover:before
            &:hover:after
                opacity 1
        .lang
            margin-top 30px
            a
                dosis 12 bold
                color $rosaBg
        +mobile()
            > a
                font-size 18px
                + a
                    margin-top 14px

.lightbox-overlay
    display none
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background rgba(#000, .9)
    z-index 115
    cursor pointer
    &.visible
        display block

.lightbox
    opacity 0
    visibility hidden
    position absolute
    top 0
    left 50%
    width 90%
    max-width 850px
    z-index 116
    background #fff
    transform translateX(-50%)
    padding $rem(30) $rem(40)
    text-align center
    transition all .3s
    &.visible
        top $rem(60)
        opacity 1
        visibility visible
        +mobile()
            top 30px
    h2
        dosis 22 light
        color $rosa
        margin 0 0 1em
    p
        aleo 16
        margin 0
    ul
        padding 0
        list-style none
        margin 0
        li
            padding-left 1em
            position relative
            aleo 16
            text-align left
            &:before
                content '\00b7'
                position absolute
                left 0
            + li
                margin-top 1em
    * + *
        margin-top 1.5em !important
