.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

h1
    text-align center
    margin 0 0 1em
    dosis 36 light
    color $rosa
    +mobile()
        font-size 28px

section
    padding $rem(150) 5%
    +mobile()
        padding $rem(100) 5%
    &.sobre-nos
    &.shooting
    &.servicos
    &.relevancia
        padding-bottom 0
