desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$rosa = #F06277
$rosaBg = #FDE9E7

@import url('https://fonts.googleapis.com/css?family=Aleo:300,400,700|Dosis:300,400,700&display=swap')

aleo($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Aleo', 'Helvetica', 'Arial', sans-serif
    font-weight 300
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 400

dosis($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Dosis', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700
