.banners
    width 100%
    height 100vh
    min-height 450px
    position relative
    .cycle
    .slide
    .content
        position absolute
        width 100%
        height 100%
        top 0
        left 0
    .cycle
        &:after
            content ''
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            background rgba(#000, .15)
            z-index 102
    .slide
        background-size cover
        background-position center
    .content
        z-index 103
        display flex
        flex-direction column
        align-items center
        justify-content center
        p
            color #fff
            margin $rem(80) 0 0
            dosis 16 bold
            text-align center
            text-shadow 0 1px 0 rgba(#000, .2)
            line-height 1.2
            small
                dosis 12 bold
                display block
                margin-top .65em
            +mobile()
                max-width 250px

.sobre-nos
    background $img('bg-bolas.png') no-repeat center top
    .texto
        width 100%
        max-width $rem(620)
        text-align center
        margin 0 auto
        p
            aleo 16
            color #000
            margin 0
            + p
                margin-top 2em
    .imagens
        width 100%
        display flex
        justify-content center
        margin-top $rem(70)
        > div
            margin 0 10px
        img
            max-width 100%
            display block
    +mobile()
        .imagens
            flex-wrap wrap
            margin-top $rem(35)
            > div
                max-width calc('50% - 20px')
                margin 10px

.shooting
    padding-left 0
    padding-right 0
    .textos
        width 100%
        max-width 1020px
        margin 0 auto
        display flex
        justify-content space-between
        +below($tablet)
            padding 0 5%
        > div
            width calc('50% - 15px')
            p
                margin 0
                + p
                    margin-top 1.5em
        .texto-1
            text-align right
            aleo 22
        .texto-2
            aleo 16
    .imagem
        margin-top $rem(70)
        width 100%
        display flex
        align-items center
        height 600px
        background-size cover
        background-position center
        padding 0 5%
    .video
        width 100%
        max-width 500px
    .video-wrapper
        width 100%
        padding-bottom 56.25%
        height 0
        position relative
        iframe
            position absolute
            top 0
            left 0
            width 100%
            height 100%
    +mobile()
        h1
            padding 0 5%
        .textos
            display block
            > div
                width 100%
                + div
                    margin-top 25px
            .texto-1
                text-align left
                font-size 18px
        .imagem
            margin-top 40px
            height auto
            min-height 300px
            .video
                padding 30px 0

.servicos
    padding-left 0
    padding-right 0
    .grid
        display grid
        grid-template-columns repeat(5, 1fr)
        grid-auto-rows 1fr
        img
            width 100%
        .texto-1
            position relative
            grid-column 2
            grid-row 1 / span 2
            background $rosa
            p
                aleo 16
                margin 0
                color #fff
                + p
                    margin-top 1.5em
        .texto-2
            position relative
            grid-column 3 / span 2
            grid-row 2 / span 2
            background $rosaBg
            h2
                dosis 22 light
                color $rosa
                margin 0 0 1em
            p
                aleo 16
                margin 0
            ul
                padding 0
                list-style none
                margin 0
                li
                    padding-left 1em
                    position relative
                    aleo 16
                    &:before
                        content '\00b7'
                        position absolute
                        left 0
                    + li
                        margin-top 1em
            * + *
                margin-top 1.5em !important
        .scrollable
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            padding $rem(40)
        +tablet()
            grid-template-columns repeat(4, 1fr)
            .texto-1
                grid-column 1 / span 2
            .texto-2
                grid-column 3 / 5
            img:last-child
                display none
        +mobile()
            display flex
            flex-wrap wrap
            img
                width 50%
                align-self flex-start
                &:nth-child(3)
                    order -1
                &:nth-child(6)
                    display none
            .texto-1
            .texto-2
                width 100%
            .scrollable
                position relative
                width 100%
                height auto

.relevancia
    padding-left 0
    padding-right 0
    .imagem
        height 100vh
        position relative
        .texto
            position absolute
            width 50%
            height 100%
            left 50%
            top 0
            background rgba(#000, .7)
        .scrollable
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            padding $rem(40)
            overflow hidden
        .wrapper
            width 100%
            max-width 530px
            color #fff
            h2
                dosis 22 light
                margin 0 0 1em
            p
                aleo 16
                margin 0
            ul
                padding 0
                list-style none
                margin 0
                li
                    padding-left 1em
                    position relative
                    aleo 16
                    &:before
                        content '\00b7'
                        position absolute
                        left 0
                    + li
                        margin-top 1em
            * + *
                margin-top 1.5em !important
    +mobile()
        .imagem
            height auto
            background none !important
            .texto
                width 100%
                position relative
                left 0
                background none
            .scrollable
                position relative
                padding 0 5%
            .wrapper
                color #000
                min-width 100%

.como-funciona
    +mobile()
        padding-bottom $rem(50)
    .chamadas
        margin-top $rem(80)
        +mobile()
            margin-top $rem(50)
        display flex
        flex-wrap wrap
        justify-content center
    .chamada
        flex 0 0 200px
        text-align center
        margin 0 20px 40px
        img
            display block
            margin 0 auto
        p
            aleo 16
            margin 1.5em 0 0

.contato
    background $rosa
    min-height 100vh
    +below($tablet)
        min-height auto
    display flex
    flex-direction column
    align-items center
    padding-bottom $rem(30)
    color #fff
    h1
        color #fff
    > p
        dosis 16
        margin 0
        width 100%
        text-align center
    .wrapper
        width 100%
        max-width 1000px
        margin $rem(65) auto $rem(150)
        display flex
        align-items center
        +mobile()
            display block
            margin $rem(50) auto $rem(85)
        form
            display flex
            flex 1
            input
            textarea
                width 100%
                display block
                resize none
                border 1px solid #fff
                aleo 16
                background none
                outline none
                color #fff
                +placeholder()
                    color #fff
            .col
                flex 1 1
            input
                height 32px
                padding 0 10px
                + input
                    margin-top 4px
            textarea
                flex 1 1
                margin 0 4px
                padding 7px 10px
            button
                width 52px
                border 1px solid #fff
                outline none
                background $img('seta-enviar.svg') no-repeat center
                cursor pointer
            +mobile()
                display block
                textarea
                    height 120px
                    margin 4px 0
                button
                    width 100%
                    height 44px
        .info
            margin-left 50px
            a
                display block
                height 24px
                line-height 24px
                white-space nowrap
                aleo 16
                color #fff
                padding-left 34px
                &.email
                    background $img('icone-email.svg') no-repeat left center
                &.instagram
                    background $img('icone-instagram-branco.svg') no-repeat left center
                    margin-top 10px
            +mobile()
                margin $rem(30) 0 0
    .copyright
        margin-top auto
        width 100%
        border-top 1px solid rgba(#fff, .5)
        text-align center
        p
            aleo 10
            font-size 10px
            color #fff
            margin 0
            padding-top 1.5em
            span
                margin 0 3px
                +mobile()
                    display block
                    font-size 0
